body {
    background: #2c2b2b;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin-top: 5rem;
    text-align: center;
}

.calculadora {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calculadora-titulo {
    font-size: 32px;
}

.label {
    font-size: 20px;
    margin-right: 1rem;
}

.input {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
    text-align: center;
    width: 25%;
}

.label-peso {
    margin-right: 1.8rem;
}

.botao {
    background-color: darkred;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    height: 45px;
    width: 20%;
    transition: 0.25s;
}

.botao:hover {
    background-color: rgb(188, 3, 3);
}

.botao:active {
    background-color: rgb(222, 4, 4);
}

.frase, .fraseClassificacao {
    color: white;
    display: block;
    font-size: 27px;
}