@media screen and (max-width: 520px) {
    body {
        height: auto;
        margin-top: 2rem;
    }
    
    .label-peso {
        margin-right: 1.5rem;
    }
    
    .botao {
        height: 10vh;
        width: 50%;
    }

    th, td {
        width: 41vw;
    }

    td {
        padding: 1rem 0;
    }

    tbody {
        width: 82%;
    }
}